resources:

- name: {{ env["deployment"] }}-vpc
  type: gcp-types/compute-v1:networks
  properties:
    autoCreateSubnetworks: False


- name: {{ env["deployment"] }}-public-subnet
  type: gcp-types/compute-v1:subnetworks
  properties:
    region: {{ properties["region"] }}
    ipCidrRange: 10.0.128.0/20
    network: $(ref.{{ env["deployment"] }}-vpc.selfLink)


- name: {{ env["deployment"] }}-private-subnet
  type: gcp-types/compute-v1:subnetworks
  properties:
    region: {{ properties["region"] }}
    ipCidrRange: 10.20.128.0/20
    network: $(ref.{{ env["deployment"] }}-vpc.selfLink)


- name: {{ env["deployment"] }}-nat
  type: gcp-types/compute-v1:routers
  properties:
    region: {{ properties["region"] }}
    network: $(ref.{{ env["deployment"] }}-vpc.selfLink)
    nats:
      - name: {{ env["deployment"] }}-nat
        subnetworks:
        - name: $(ref.{{ env["deployment"] }}-private-subnet.selfLink)
          sourceIpRangesToNat: 
            - ALL_IP_RANGES
        natIpAllocateOption: AUTO_ONLY
        sourceSubnetworkIpRangesToNat: LIST_OF_SUBNETWORKS


###################
# Define Firewalls  
###################
- name: {{ env["deployment"] }}-allow-ansible-external-access 
  type: gcp-types/compute-v1:firewalls
  properties:
    network: $(ref.{{ env["deployment"] }}-vpc.selfLink)
    sourceRanges:
    - {{ properties["AdminIngressLocation"] }}
    allowed:
      - IPProtocol: tcp
        ports:
        - 22


- name: {{ env["deployment"] }}-allow-viya-ssh-from-ansible
  type: gcp-types/compute-v1:firewalls
  properties:
    network: $(ref.{{ env["deployment"] }}-vpc.selfLink)
    sourceTags:
    - sas-viya-ansible-controller
    allowed:
      - IPProtocol: tcp
        ports:
        - 22


- name: {{ env["deployment"] }}-allow-viya-to-viya
  type: gcp-types/compute-v1:firewalls
  properties:
    network: $(ref.{{ env["deployment"] }}-vpc.selfLink)
    sourceTags:
    - sas-viya-vm
    allowed:
      - IPProtocol: tcp


- name: {{ env["deployment"] }}-vpc-allow-http
  type: gcp-types/compute-v1:firewalls
  properties:
    description: Incoming http and https allowed.
    network: $(ref.{{ env["deployment"] }}-vpc.selfLink)
    targetTags:
    - sas-viya-vm
    allowed:
      - IPProtocol: tcp
        ports:
        - 80
        - 443
