resources:

- name: iam
  type: iam.py

- name: networks
  type: networks.py
  properties:
    Region: {{ properties["Zone"][:-2] }}

- name: vms
  type: vms.py
  properties:
     Zone: {{ properties["Zone"] }}
     SSHPublicKey: {{ properties["SSHPublicKey"] }}
     SASAdminPass: {{ properties["SASAdminPass"] }}
     SASUSerPass: {{ properties["SASUSerPass"] }}
     DeploymentDataLocation: {{ properties["DeploymentDataLocation"] }}

- name: loadbalancer
  type: loadbalancer.py
  properties:
     Zone: {{ properties["Zone"] }}
     Region: {{ properties["Zone"][:-2] }}
