resources:

- name: networks
  type: networks.jinja
  properties:
    region: {{ properties["zone"][:-2] }}
    AdminIngressLocation: {{ properties["AdminIngressLocation"] }}

- name: vms
  type: vms.jinja
  properties:
     zone: {{ properties["zone"] }}
     ssh-key: {{ properties["ssh-key"] }}
     COMMON_CODE_TAG: {{ properties["COMMON_CODE_TAG"] }}
     OLCROOTPW: {{ properties["OLCROOTPW"] }}
     OLCUSERPW: {{ properties["OLCUSERPW"] }}
     VIYA_VERSION: {{ properties["VIYA_VERSION"] }}
     DEPLOYMENT_DATA_LOCATION: {{ properties["DEPLOYMENT_DATA_LOCATION"] }}
          
- name: iam
  type: iam.jinja

- name: loadbalancer
  type: loadbalancer.jinja
  properties:
     zone: {{ properties["zone"] }}
     region: {{ properties["zone"][:-2] }}
     